<form [formGroup]="form">
    <!--<input type="text" class="form-control" formControlName="id" readonly >-->

    @if(nameExists) {
        <p class="alert alert-danger">Não é possível cadastrar (ou alterar para) um nome de produto que já existe.</p>
    }

    @if (form.get('name')?.hasError('required') && form.get('name')?.touched) {
        <p class="alert alert-warning">O campo nome é obrigatório.</p>
    } @else if (form.get('name')?.hasError('minlength') && form.get('name')?.touched) {
        <p class="alert alert-warning">O campo nome precisa no mínimo de 3 caracteres.</p>
    } @else if (form.get('name')?.hasError('maxlength') && form.get('name')?.touched) {
        <p class="alert alert-warning">O campo nome pode ter no máximo 50 caracteres.</p>
    }
    <input type="text"   class="form-control" formControlName="name" placeholder="Nome">

    @if (form.get('price')?.hasError('required') && form.get('price')?.touched) {
        <p class="alert alert-warning">O campo valor é obrigatório.</p>
    } @else if (form.get('price')?.hasError('min') && form.get('price')?.touched) {
        <p class="alert alert-warning">O campo preço precisa ser preenchido com no mínimo 1 centavo.</p>
    } @else if (form.get('price')?.hasError('max') && form.get('price')?.touched) {
        <p class="alert alert-warning">O campo preço pode ser preenchido com no máximo 1 milhão.</p>
    }
    <input type="number" class="form-control" formControlName="price" placeholder="Preço">

    @if (btnRegister) {
        <input (click)="registerProduct()" type="button" class="btn btn-primary" value="Cadastrar" [disabled]="form.invalid">
    } @else {
        <input (click)="alterProduct()" type="button" class="btn btn-primary" value="Alterar" [disabled]="form.invalid"> 
        <input (click)="removeProduct()" type="button" class="btn btn-primary" value="Remover">
        <input (click)="cancelPerson()" type="button" class="btn btn-primary" value="Cancelar">
    }
     
</form>

<form action="">
    <input type="text" [formControl]="search" class="form-control" placeholder="Insira sua pesquisa" [readOnly]="!showAllProducts">
    <input type="button" (click)="research()" class="btn btn-primary" value="Filtrar" [disabled]="search.invalid">
    <input type="button" (click)="clearSearch()" class="btn btn-primary" value="Limpar">
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Selecionar</th>
        </tr>
    </thead>

    <tbody>
        @for (p of (showAllProducts) ? allProducts : filterProducts; track $index) {
            <tr>
                <td>{{$index + 1}}</td>
                <td>{{p.name}}</td>
                <td>{{p.price | currency:'BRL'}}</td>
                <td><button (click)="select(p.id)" class="btn btn-primary">Selecionar</button></td>
            </tr>
        }
    </tbody>
</table>
