form{
    width: 50vw;
    margin: 30px auto;
    text-align: center;
}

input{
    margin-bottom: 1rem;
}

input[type="button"]{
    margin: 0.3rem 0.5rem;
}

tr {
    text-align: center;
}

td {
    vertical-align: middle;
}