<form [formGroup]="form">
    <input type="text" class="form-control" formControlName="id" readonly >
    <input type="text"   class="form-control" formControlName="name" placeholder="Nome">
    <input type="number" class="form-control" formControlName="price" placeholder="Valor">

    @if (btnRegister) {
        <input (click)="registerProduct()" type="button" class="btn btn-primary" value="Cadastrar" [disabled]="form.invalid">
    } @else {
        <input (click)="alterProduct()" type="button" class="btn btn-primary" value="Alterar" [disabled]="form.invalid"> 
        <input (click)="removeProduct()" type="button" class="btn btn-primary" value="Remover">
        <input (click)="cancelPerson()" type="button" class="btn btn-primary" value="Cancelar">
    }
     
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Valor</th>
            <th>Selecionar</th>
        </tr>
    </thead>

    <tbody>
        @for (p of products; track $index) {
            <tr>
                <td>{{$index + 1}}</td>
                <td>{{p.name}}</td>
                <td>{{p.price | currency:'BRL'}}</td>
                <td><button (click)="select($index)" class="btn btn-primary">Selecionar</button></td>
            </tr>
        }
    </tbody>
</table>
