footer {
    text-align: center;
    background-color: #F8F9FA;
    padding: 1rem;
    margin-top: 1rem;
}

nav {
    margin-bottom: 1rem;
}

p {
    margin: 0px;
}

main {
    min-height: 86.8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}